.homePage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thumbnail {
  background-image: url(../../assets/images/thumbnail.png);
  background-size: cover;
  height: 200px;
  width: 200px;
}

.title {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 100px;
  color: #ffff;
}

.subtitle {
  margin: 10px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 25px;
  color: #ffff;
}

.difficultySelector {
  margin: 10px;
  padding: 10px;
  size: 50px;
  color: #000;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .mainWindow {
    display: block;

    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile {
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainWindow--scoreBoard {
    margin-left: 10%;
  }

  .profile--leftProfile,
  .profile--scoreProfile {
    text-align: center;
  }

  .gamePage__subtitle {
    font-size: 20px;
  }
}
