body {
  background-color: #797d81;
  background-image: url("./assets/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}