#root {
  max-width: 1280px;
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#home {
  color: #797d81;
}

body {
  background-color: #797d81;
  background-image: url("./images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background {
  height: 100vh;
  width: 100vw;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  margin: auto;
}

input {
  margin: 10px;
  padding: 10px;
  font-size: larger;
  font-family: "Times New Roman", Times, serif;
  border-radius: 10px;
  border: none;
}

button {
  margin: 10px;
  top: 50%;
  background-color: #000;
  color: #f28500;
  font-size: 100px;
  border: none;
  border-radius: 10px;
  padding: 15px;
  min-height: 50px;
  min-width: 200px;
}

button:hover {
  background-color: #ffbf00;
  transition: 0.7s;
}
button:active {
  background-color: #797d81;
}

.home--title {
  text-decoration: solid;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  font-size: 7vw;
  color: #fdfdff;
}

.home--subtitle {
  margin: 10px;
  padding: 10px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.7vw;
  color: #fdfdff;
}

.gamePage__subtitle {
  margin: 10px;
  padding: 5px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  color: #fdfdff;
}

.difficulty {
  margin: 10px;
  padding: 10px;
  size: 50px;
  color: #000;
}

.mainWindow--scoreBoard {
  border: rgb(66, 4, 4) 4px solid;
}

.thumbnail {
  height: 200px;
  width: 200px;
  padding-top: 50px;
}

.profile {
  display: flex;
  justify-content: space-between;
}
.profile--leftProfile {
  justify-content: center;
  align-items: center;
  display: inline-block;

  flex-direction: column;

  align-items: flex-start;
  align-self: flex-start;
  text-align: start;
}
.profile--scoreProfile {
  justify-content: center;
  align-items: center;
  display: inline-block;
  flex-direction: column;

  align-items: flex-start;
  align-self: flex-start;
  text-align: end;
}
#gameNumber {
  display: inline-block;
  width: max-content;
  align-items: center;
  font-size: 30px;
}

.mainWindow--scoreBoard {
  display: flex;
  width: max-content;
  height: max-content;
  margin: 10px 0px 0px 40px;
  flex-direction: column;
  padding: 20px;
  text-align: center;

  align-content: space-between;
  color: white;
  font-weight: bold;
}

.gameWindow--timer {
  display: inline-block;
  font-size: 50px;
  font-weight: bolder;
  color: white;
}

.gameWindow--givenWord {
  display: block;
  margin: 0px;
  font-size: 80px;
  color: #f28500;
}

.mainWindow {
  display: flex;
  justify-content: space-evenly;
}

.mainWindow--gameWindow {
  display: flex;
  padding: 20px;
  flex-direction: column;
}

@media screen and (max-width: 550px) {
  .mainWindow {
    display: block;

    background-image: url("./images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .profile {
    margin-left: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mainWindow--scoreBoard {
    margin-left: 10%;
  }

  .profile--leftProfile,
  .profile--scoreProfile {
    text-align: center;
  }

  .gamePage__subtitle {
    font-size: 20px;
  }
}
